*:focus {
    outline: 0rem;
}

html {
    font-size: 16px;
}

body {
    margin: 0rem;
    background: rgb(255, 255, 255);
}





/*Secciones*/
.contenedor {
    min-height: 62.5rem;
    max-height: 100vh;
    display: grid;
    grid-template-columns: minmax(25rem, 1.2fr) minmax(50rem, 3fr) minmax(20rem,1.2fr);
    grid-template-rows: 1fr 0.5fr 5fr 1fr;
}


.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(200, 200, 200);
}
.logo__imagen {
    background: red;
    height: 3rem;
    padding: 0.3125rem 1.875rem 0.3125rem 1.875rem;
    border-radius: 1.5rem;
}





.datos__usuario {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background: rgb(200, 200, 200);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.datos__nombre_usuario {
    color: black;
    font-size: 2rem;
    margin-right: 1.25rem;
}
.datos__mensaje {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: black;
    background: rgb(200, 200, 200);
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lblMensajeError {
    transition: color 1.5s;
}
.datos__foto {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 1.5625rem;
    background: white;
    margin-right: 3.125rem;
}
.foto_usuario {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    overflow: hidden;
}
.contenedor_general_opciones_usuario {
    display: none;
    margin-left: -8rem;
    margin-top:  -1rem;
}
.contenedor_botones_opciones_usuario {
    display: flex;
    flex-direction: column;
}
.boton_opcion_usuario {
    width: 10rem;
    border: none;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background: rgb(180, 180, 200);
}
.boton_opcion_usuario:hover {
    background: rgb(100, 100, 120);
    color: white;
}
.contenedor_cambioContrasenia {
    display: none;
    position: absolute;
    width: 25rem;
    height: 21rem;
    background: rgb(180, 180, 200);
    border-radius: 1rem;
    margin-top: -2rem;
    margin-left: -25rem;
    z-index: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contenedor_cambioContrasenia h3 {
    text-align: center;
}
.contenedor_cambioContrasenia input {
    width: 20rem;
    margin-left: 2.5rem;
    margin-top: -1rem;
    border: none;
}
.contenedor_cambioContrasenia p {
    margin-left: 2.5rem;
    margin-bottom: 0.2rem;
}
.contenedorMensajeCambioContrasenia {
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    width: 20rem;
    height: 1.2rem;
}
#lblMensajeCambioContrasenia {
    margin-left: 0rem;
    text-align: center;
    display: none;
}
.contenedor_botones_cambioContrasenia {
    margin-left: 2.5rem;
    margin-top: 2.2rem;
    width: 20rem;
    display: flex;
    justify-content: space-between;
}
.contenedor_botones_cambioContrasenia button {
    background: rgb(100, 100, 120);
    color: white;
    width: 6rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    margin-left: 0.5rem;
}
.contenedor_botones_cambioContrasenia button:hover {
    background: rgb(50, 50, 200);
}
.contenedor_cambioFoto {
    display: none;
    position: absolute;
    width: 25rem;
    height: 25em;
    background: rgb(180, 180, 200);
    border-radius: 1rem;
    margin-top: -2rem;
    margin-left: -25rem;
    z-index: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contenedorMensajeCambioFoto {
    margin-top: 3rem;
    margin-left: 1rem;
    width: 23rem;
    height: 2.5rem;
}
#lblMensajeCambioFoto {
    margin-left: 0rem;
    text-align: center;
    color: black;
}
.contenedor_botones_cambioFoto {
    margin-left: 1rem;
    margin-top: 1rem;
    width: 23rem;
    display: flex;
    justify-content: space-between;
}
.contenedor_botones_cambioFoto button {
    background: rgb(100, 100, 120);
    color: white;
    width: 6rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    margin-left: 0.5rem;
}
.contenedor_botones_cambioFoto button:hover {
    background: rgb(50, 50, 200);
}
.contenedor_imgFotoUsuario {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    margin-top: 0.8rem;
    margin-left: 7.5rem;
    background: black;
    overflow: hidden;
}
.imgFotoUsuario {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.inputfileFoto {
    display: none;
}
.contenedor_inputfile {
    width: 23rem;
    height: 3rem;
    margin-left: 1rem;
    margin-top: 1rem;
    text-align: center;
}
.btnInputfileFoto {
    margin-top: 1.2rem;
    display: inline-block;
    background: rgb(100, 100, 120);
    color: white;
    height: 3rem;
    border-radius: 1.5rem;
    line-height: 3rem;
    width: 10rem;
}
.btnInputfileFoto:hover {
    background: rgb(50, 50, 200);
}






.filtro {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    background: rgb(200, 200, 200);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
}
.filtro__boton_dif {
    background: rgb(200, 200, 200);
    border: none;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0rem;
    visibility: hidden;
}
.filtro__boton_dif img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.filtro__boton {
    padding: 0px;
    height: 3rem;
    width: 3rem;
    margin-left: 21rem;
    transition: margin-left 0.5s;
    display: inline-block;
    position: absolute;
}
.filtro__boton img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.filtro__contenedor {
    margin: 0px;
    padding-left: 0.125rem;
    height: 3rem;
    width: 45rem;
    background: white;
    overflow: hidden;
}
.filtro__canciones_nueva_posicion {
    margin-left: 0rem;
}
.filtro__artista_nueva_posicion {
    margin-left:  8.4rem;
}
.filtro__album_nueva_posicion {
    margin-left: 16.8rem;
}
.filtro__favoritos_nueva_posicion {
    margin-left: 25.2rem;
}
.filtro__sugeridos_nueva_posicion {
    margin-left: 33.6rem;
}
.filtro__filtro_nueva_posicion {
    margin-left: 42rem;
}
.filtro_posicion_izquierda {
    margin-left: 0rem;
}
.filtro__txt {
    display: none;
    position: absolute;
    margin-left: 5rem;
    padding-top: 0.6rem;
    height: 3rem;
    width: 40rem;
}
.filtro__txt_input {
    height: 2rem;
    width: 100%;
    font-size: 1.5rem;
    background: white;
    color: black;
    border: none;
    outline: none;
}
.filtro__limpiar {
    visibility: hidden;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    background: red;
    display: inline-block;
    position: absolute;
    margin-left: 44.5rem;
    margin-top: -0.75rem;
}
.filtro__quitar {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
}





.listas {
    background: white;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    font-size: 1rem;
    margin-bottom: 1%;
    overflow: hidden;
}
.listas__titulo { 
    background: rgb(200, 200, 200);
    padding: 1rem;
    padding-left: 2rem;
    color: rgb(100, 100, 100);
    font-size: 2rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    margin-top: 0rem;
    margin-bottom: 0px;
}
.listas__canciones {
    padding-left: 1rem;
    padding-right: 0.3125rem;
    background: white;
    height: 90%;
    overflow: scroll;
}
.listas__mensaje {
    display: none;
    color: rgb(100, 100, 100);
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
    margin-top: 16rem;
}
.listas__canciones::-webkit-scrollbar {
    width: 1rem;;
    background: rgb(200, 200, 200);
}
.listas__canciones::-webkit-scrollbar-thumb {
    background: rgb(200, 200, 200);
}
.listas__canciones_tabla td {
    padding: 0.3rem;
    padding-left: 1rem;
    font-size: 1rem;
}
.estrella_lista {
    width: 1.2rem;
    -o-object-fit: contain;
       object-fit: contain;
}
.cancion:hover {
    cursor: default;
}
.cancion {
    color: white;
    transition: color 0.5s;
}





.imagenes {
    background: white;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.625rem;
    overflow-y: scroll;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}
.imagenes::-webkit-scrollbar {
    width: 1rem;;
    background: white;
}
.imagenes::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
}
.imagenes div {
    width: 18.75rem;
    height: 18.75rem;
    margin: 0.625rem;
    background: white;
    opacity: 0;
    transition: transform 0.5s, opacity 1.5s;
}
.tapa {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.tapa:hover {
    cursor: pointer;
}
.giro {
    animation: giro 0.5s;
    animation-fill-mode: forwards;
}
@keyframes giro {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(180deg);
    }
}





/*reproductor.*/
.reproductor {
    font-size: 16px;
    background: rgb(200, 200, 200);
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.reproductor__botones_reproductor {
    background: white;
    padding-left: 0px;
    padding-right: 0.1875em;
    width: 18.75em;
    height:  2.5em;
    border-radius: 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reproductor__botones {
    width: 1.875em;
    height: 1.875em;
    border: none;
    background:none;
    padding: 0px;
}
.reproductor__btnPlay {
    width: 3.75em;
    height: 3.75em;
    margin-left: -0.1875em;
}
.reproductor__btnAnterior {
    margin-right: -5%;
}
.reproductor__btnRetroceder {
    margin-right: -5%;
}
.reproductor img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.reproductor__botones_adicionales {
    width: 18.75em;
    height: 1.875em;
    margin-top: 1.25em;
    padding: 0px;
    text-align: right;
}
.reproductor__btnAdicional {
    background: rgb(200, 200, 200);
    width: 2.5em;
    height: 1.875em;
}
#btnLoop {
    position: absolute;
    margin-left: 16.25em;
    margin-top: 0em;
}
#btnMute {
    position: absolute;
    margin-left: 13em;
}
.btnLoop {
    position: absolute;
    margin-left: 13em;
}
.reproductor__botones_adicionales img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.reproductor__volumen {
    position: absolute;
    margin-left: 0em;
    margin-top: 0.3em;
}
.btnDeslizdorVolumen {
    height: 1em;
    margin: 0px;
    width: 12em;
    background: transparent;
    -webkit-appearance: none;
}
/*Track del deslizador.*/
.btnDeslizdorVolumen::-moz-range-track {
    background: white;
    width: 100%;
    height: 0.3em;
}
.btnDeslizdorVolumen::-webkit-slider-runnable-track {
    background: white;
    width: 100%;
    height: 0.3em;
}
.btnDeslizdorVolumen::-ms-track {
    background: white;
    width: 100%;
    height: 0.3em;
}
/*Thumb.*/
.btnDeslizdorVolumen::-moz-range-thumb {
    height: 1.5em;
    width: 1.5em;
    background: rgb(100, 100, 100);
    border-radius: 0.5em;
    border: none;
}
.btnDeslizdorVolumen::-moz-range-thumb:hover {
    cursor: pointer;
}
.btnDeslizdorVolumen::-webkit-slider-thumb:hover {
    cursor: pointer;
}
.btnDeslizdorVolumen::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.5em;
    width: 1.5em;
    background: white;
    border-radius: 0.5em;
    border: white solid 1px;
    cursor: pointer;
    margin-top: -0.5em;
}
.btnDeslizdorVolumen::-ms-thumb {
    height: 1.5em;
    width: 1.5em;
    background: white;
    border-radius: 0.5em;
    border: white solid 1px;
    cursor: pointer;
}
/*Fill lower.*/
.btnDeslizdorVolumen::-moz-range-progress {
    background: black;
}





.barra {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background:  rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.barra_contenedor {
    width: 90%;
}
.barra_tiempo {
    height: 1rem;
    margin: 0px;
    background: transparent;
    width: 100%;
    -webkit-appearance: none;
}
.barra_tiempo::-moz-range-track {
    background: white;
    width: 100%;
    height: 0.3rem;
}
.barra_tiempo::-moz-range-thumb {
    background: rgb(100, 100, 100);
    border: none;
}
.barra_tiempo::-moz-range-thumb:hover {
    cursor: pointer;
}
.barra_tiempo::-moz-range-progress {
    background: rgb(50, 50, 50);
    height: 0.3rem;
}
.barra_tiempo::-webkit-slider-runnable-track {
    background: white;
    width: 100%;
    height: 0.3rem;
}
.barra_tiempo::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    background: rgb(100, 100, 100);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    margin-top: -0.25rem;
-}
.barra_texto {
    width: 10rem;
    height: 1.5rem;
    padding-top: 0.25rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    background: white;
    color: black;
    text-align: center;
}






.info {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    background: rgb(200, 200, 200);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.info__imagen {
    width: 5rem;
    height: 5rem;
    background: rgb(200, 200, 200);
    -o-object-fit: contain;
       object-fit: contain;
}
.info__data {
    color: black;
    margin-right: 1.8rem;
    margin-left: 1rem;
}










/*Cambios al llegar a los 1500 px*/
@media screen and (max-width: 1500px) {


    html {
        font-size: 10px;
    }

    .imagenes div {
        margin: 2rem;
    }

    .listas__mensaje {
        margin-top: 28rem;
    }
}







/*Cambios al llegar a los 1000 px*/
@media screen and (max-width: 1000px) {

    .contenedor {
        grid-template-columns: minmax(25rem, 1fr) minmax(40rem, 2fr);
        grid-template-rows: 1fr 0.5fr 0.5fr 5fr 1fr 1fr;
    }

    .logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .datos__usuario {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .datos__mensaje {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        font-size: 2rem;
    }

    .filtro {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .listas {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .imagenes {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    .reproductor {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    .info {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        justify-content: flex-end;
    }

    .barra {
        grid-column: 1 / 3;
        grid-row: 6 / 7;
    }

    .listas__mensaje {
        margin-top: 23rem;
    }
    
}







@media screen and (max-width: 720px) {

    .contenedor {
        grid-template-columns: minmax(40rem, 1fr) minmax(20rem, 1fr);
        grid-template-rows: 1fr 0.5fr 0.5fr 5fr 1fr 1fr;
    }

    .filtro {
        grid-column: 1 / 3;
    }

    .filtro__boton {
        margin-left: 13.5rem;
    }
    .filtro__contenedor {
        width: 30rem;
    }
    .filtro__canciones_nueva_posicion {
        margin-left: 0rem;
    }
    .filtro__artista_nueva_posicion {
        margin-left:  5.4rem;
    }
    .filtro__album_nueva_posicion {
        margin-left: 10.8rem;
    }
    .filtro__favoritos_nueva_posicion {
        margin-left: 16.2rem;
    }
    .filtro__sugeridos_nueva_posicion {
        margin-left: 21.6rem;
    }
    .filtro__filtro_nueva_posicion {
        margin-left: 27rem;
    }

    .filtro_posicion_izquierda {
        margin-left: 0rem;
    }
    
    .filtro__txt {
        width: 25rem;
    }

}





@media screen and (max-width: 600px) {
    
    
    .contenedor {
        grid-template-columns: minmax(20rem, 1fr) minmax(20rem, 1fr);
        grid-template-rows: 1fr 0.5fr 0.5fr 3fr 3fr 1fr 1fr 1fr;
        max-height: 150vh;
    }
    
    .imagenes {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }

    .listas {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }

    .reproductor {
        grid-column: 1 / 3;
        grid-row: 6 / 7;
    }

    .barra {
        grid-column: 1 / 3;
        grid-row: 7 / 8;
    }

    .info {
        grid-column: 1 / 3;
        grid-row: 8 / 9;
        justify-content: flex-start;
    }

    .imagenes div {
        width: 12rem;
        height: 12rem;
    }

    .listas__canciones_tabla td {
        font-size: 1.5rem;
    }

    .listas__mensaje {
        margin-top: 11rem;
    }
    
    .filtro__limpiar {
        margin-left: 29.5rem;
        margin-top: -0.75rem;
    }

}